/* Google Fonts Azeret Mono */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Azeret Mono", sans-serif;
}

/* universal selector */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common utility */

.primary-color {
    color: #0D1321;
}

.p-tag {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.text-center {
    text-align: center;
}

section {
    max-width: 1140px;
    margin: 0 auto;
}

.next-target-intro,
.current-target-text,
.my-inspiration-text {
    width: 852px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 48px;
}

.current-target-item a,
.next-target-item-text a {
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}

/* nav styles */

.navbar {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

.navbar h4 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.navbar .download-resume-btn {
    border: 1px solid #0D1321;
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #fff;
    cursor: pointer;
}

/* banner-container styles */

.banner-container {
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url("../assets/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 652px;
    gap: 25px;
}

.coder-img img {
    width: 240.28px;
    height: 240px;
}

.banner-content h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

.banner-content .contact-with-me-btn {
    border: none;
    border-radius: 8px;
    padding: 21px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #0D1321;
    cursor: pointer;
}

/* why web dev section styles */

.why-web-dev-section {
    height: 1350px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-bottom: 90px;
}

.why-web-dev-content {
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
}

.why-web-dev-content h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.layer-item-1,
.layer-item-2,
.layer-item-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layer-item-1,
.layer-item-3 {
    background-color: #fff;
    padding: 48px;
}

.layer-item-2 {
    padding: 48px;
}

.layer-item-1-text,
.layer-item-2-text,
.layer-item-3-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.layer-item-1-text h5,
.layer-item-2-text h5,
.layer-item-3-text h5 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.layer-items .learn-more-btn {
    border: 1px solid #0D1321;
    opacity: 0.7;
    padding: 12px 20px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #fff;
    cursor: pointer;
}

/* my inspiration section styles */

.my-inspiration-container {
    height: 875px;
    margin-bottom: 150px;
}

.my-inspiration-text h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.my-inspiration-video {
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    width: 1140px;
    height: 614px;
    padding: 32px;
}

.my-inspiration-video iframe {
    border-radius: 16px;
}

/* current target section styles */

.current-target-container {
    height: 520px;
    margin-bottom: 110px;
}

.current-target-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.current-target-item {
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.current-target-text h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.current-target-items .bg-1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.current-target-items .bg-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.current-target-items .bg-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.current-target-img img {
    width: 56px;
    height: 56px;
}

.current-target-item h4 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

/* next target styles */

.next-target-container {
    height: 920px;
    margin-bottom: 50px;
}

.next-target-intro h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.next-target-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.next-target-item {
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    gap: 24px;
}

.next-target-item-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.next-target-item-text h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

/* need support section styles */

.need-support-container {
    height: 313px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
    background-image: url("../assets/handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 64px 48px;
    margin-bottom: 80px;
}

.need-support-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.need-support-content h3 {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    line-height: 36px;
}

.need-support-content p {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    font-weight: 400;
    line-height: 26px;
    width: 730px;
}

.need-support-form input[type="text"] {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: #fff;
    padding: 19px 20px;
    width: 500px;
    color: rgba(13, 19, 33, 0.4);
}

.need-support-form input[type=text]:focus {
    outline: 0;
}

.need-support-form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.need-support-form input[type="submit"] {
    padding: 16px 20px;
    width: 120px;
    border-radius: 8px;
    background: #fff;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
}

/* footer styles */

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container h4 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.footer-social a {
    margin-right: 10px;
}

/* mobile device styles */

@media screen and (max-width: 576px) {

    /* common styles */

    .layer-item-1,
    .layer-item-2,
    .layer-item-3,
    .current-target-items,
    .need-support-form,
    .footer-container {
        flex-direction: column;
    }

    .p-tag {
        font-size: 14px;
    }

    .next-target-intro,
    .current-target-text,
    .my-inspiration-text {
        width: 100%;
        gap: 1rem;
        margin-bottom: 30px;
        padding: 0px 30px;
    }

    /* nav styles */

    .navbar h4 {
        font-size: 1.5rem;
    }

    .navbar .download-resume-btn {
        padding: 12px 16px;
        font-size: 1rem;
    }

    /* banner-container styles */

    .banner-container {
        height: 652px;
        margin-bottom: 50px;
    }

    .banner-content {
        gap: 15px;
    }

    .coder-img img {
        width: 200.28px;
        height: 200px;
    }

    .banner-content h1 {
        font-size: 2.4rem;
    }

    .banner-content .contact-with-me-btn {
        padding: 12px 18px;
        font-size: 1rem;
    }

    /* why web dev section styles */

    .why-web-dev-section {
        height: auto;
        padding: 30px 30px;
        margin-bottom: 50px;
    }

    .why-web-dev-content {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .why-web-dev-content h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .layer-item-1,
    .layer-item-3 {
        padding: 30px;
    }

    .layer-item-2 {
        padding: 30px;
    }

    .layer-item-1-text,
    .layer-item-2-text,
    .layer-item-3-text {
        gap: 1rem;
    }

    .layer-item-1-text h5,
    .layer-item-2-text h5,
    .layer-item-3-text h5 {
        font-size: 1.3rem;
    }

    .layer-items .learn-more-btn {
        padding: 10px 16px;
        font-size: 1rem;
    }

    /* my inspiration section styles */

    .my-inspiration-container {
        margin-bottom: 50px;
        padding: 30px;
        height: 750px;
    }

    .my-inspiration-text h3 {
        font-size: 1.5rem;
    }

    .my-inspiration-video {
        width: 100%;
        height: 500px;
        padding: 30px;
    }

    .my-inspiration-video iframe {
        width: 100%;
        height: 100%;
    }

    /* current target section styles */

    .current-target-container {
        height: auto;
        margin-bottom: 50px;
    }

    .current-target-text h3 {
        font-size: 1.5rem;
    }

    .current-target-items {
        gap: 1rem;
    }

    /* next target styles */

    .next-target-container {
        height: auto;
        padding: 0px 30px;
    }

    .next-target-intro h3 {
        font-size: 1.5rem;
    }

    .next-target-item {
        padding: 20px;
    }

    /* need support section styles */

    .need-support-container {
        height: auto;
        padding: 40px 28px;
        margin-bottom: 80px;
    }

    .need-support-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .need-support-content h3 {
        font-size: 1.5rem;
    }

    .need-support-content p {
        font-size: 14px;
        width: 100%;
    }

    .need-support-form input[type="text"] {
        width: 400px;
    }

    .need-support-form input[type="submit"] {
        padding: 12px 16px;
        width: 100px;
        font-size: 1rem;
    }

    /* footer styles */

    .footer-container {
        height: auto;
        padding: 30px 50px;
        gap: 16px;
    }

    .footer-social a {
        margin-right: 10px;
    }

}