/* Google Fonts Azeret Mono */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", sans-serif;
}

/* universal selector */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common utility */

.primary-color {
    color: #0D1321;
}

.p-tag {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}

.text-center {
    text-align: center;
}

/* nav styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.navbar h4 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.navbar .download-resume-btn {
    border: 1px solid #0D1321;
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #fff;
    cursor: pointer;
}

/* banner-container styles */

.banner-container {
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url("../assets/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 652px;
    gap: 25px;
}

.coder-img img {
    width: 240.28px;
    height: 240px;
}

.banner-content h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

.banner-content .contact-with-me-btn {
    border: none;
    border-radius: 8px;
    padding: 21px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #0D1321;
    cursor: pointer;
}