/* Google Fonts Azeret Mono */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", sans-serif;
}

/* universal selector */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common utility */

.primary-color {
    color: #0D1321;
}

.p-tag {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}

.text-center {
    text-align: center;
}

section {
    max-width: 1140px;
    margin: 0 auto;
}

/* nav styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.navbar h4 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.navbar .download-resume-btn {
    border: 1px solid #0D1321;
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #fff;
    cursor: pointer;
}

/* banner-container styles */

.banner-container {
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url("../assets/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 652px;
    gap: 25px;
}

.coder-img img {
    width: 240.28px;
    height: 240px;
}

.banner-content h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

.banner-content .contact-with-me-btn {
    border: none;
    border-radius: 8px;
    padding: 21px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #0D1321;
    cursor: pointer;
}

/* why web dev section styles */

.why-web-dev-section {
    height: 1350px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-bottom: 90px;
}

.why-web-dev-content {
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
}

.why-web-dev-content h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.layer-item-1,
.layer-item-2,
.layer-item-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layer-item-1,
.layer-item-3 {
    background-color: #fff;
    padding: 48px;
}

.layer-item-2 {
    padding: 48px;
}

.layer-item-1-text,
.layer-item-2-text,
.layer-item-3-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.layer-item-1-text h5,
.layer-item-2-text h5,
.layer-item-3-text h5 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.layer-items .learn-more-btn {
    border: 1px solid #0D1321;
    opacity: 0.7;
    padding: 12px 20px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #fff;
    cursor: pointer;
}

/* my inspiration section styles */

.my-inspiration-container {
    height: 875px;
    margin-bottom: 150px;
}

.my-inspiration-text {
    width: 852px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 48px;
}

.my-inspiration-text h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.my-inspiration-video {
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    width: 1140px;
    height: 614px;
    padding: 32px;
}

.my-inspiration-video iframe {
    border-radius: 16px;
}

/* current target section styles */

.current-target-container {
    height: 520px;
    margin-bottom: 110px;
}

.current-target-text {
    width: 852px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 48px;
}

.current-target-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.current-target-item {
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.current-target-items .bg-1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.current-target-items .bg-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.current-target-items .bg-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.current-target-img img {
    width: 56px;
    height: 56px;
}

.current-target-item h4 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.current-target-item a {
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}